<!DOCTYPE html>
<html lang="en" ng-app="Images">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Images</title>
        <meta name="author" content="Nazar Ivato" />
        <%= favicon_link_tag "/favicon.ico?id=11" %>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body ng-controller="ApplicationController as app">
        <div class="container">
            <div class="page-header">
                <h1><span class="glyphicon glyphicon-picture"></span> Icon Service</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-8">
                            <h3 class="panel-title">Create Icon</h3>
                        </div>
                        <div class="col-xs-4">
                            <h3 class="panel-title text-center">Preview</h3>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-8">
                            <form role="form" ng-submit="app.submitImage()">
                                <div class="form-group">
                                    <label for="image_name">Image Name</label>
                                    <input ng-model="app.image.name" ng-change="app.errors = []" type="text" class="form-control" id="image_name" placeholder="Image Name" required>
                                </div>
                                <div class="form-group">
                                    <label for="image_url">Image URL</label>
                                    <input ng-model="app.image.origin_url" ng-change="app.errors = []" type="text" class="form-control" id="image_url" placeholder="Image URL" required>
                                </div>
                                <span class="text-danger" ng-repeat="error in app.errors"><span class="glyphicon glyphicon-exclamation-sign"></span> {{error}} </span>
                                <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-picture"></span> Create Icon</button>
                            </form>
                        </div>
                        <div class="col-xs-4">
                            <a href="{{app.image.origin_url}}" class="thumbnail" ng-show="app.image.origin_url">
                                <img ng-src="{{app.image.origin_url}}" style="max-height: 150px;" />
                            </a>
                            <h1 class="text-center text-muted" ng-hide="app.image.origin_url">
                                <span class="glyphicon glyphicon-search"></span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Icons Gallery</h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Icon</th>
                                <th>Name</th>
                                <th>Origin Size</th>
                                <th>Price</th>
                                <th>Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="image in app.images">
                                <td>{{image.id}}</td>
                                <td>
                                    <a href="{{image.url}}"><img ng-src="{{image.url}}" class="img-responsive" /></a>
                                </td>
                                <td>{{image.name}}</td>
                                <td>{{image.origin_kb}} Kb</td>
                                <td>{{image.price}} $</td>
                                <td><a href="{{image.url}}"><span class="glyphicon glyphicon-download-alt"></span> {{image.url}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
